html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.login-bg {
	width: 100%;
	height: 80%;
	background: linear-gradient(to top, white 50%, rgba(0, 123, 255, 0.8) 50%);	
}
.login {
	position: absolute;
	width: 280px;	
	top: 25%;
	left: 0;
	right: 0;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 4px #888888
}
.container {
	margin-top: 0%;

}
.btn-menu {
	display: inline-block;  
	width: 160px; 
	height: 130px;
	text-align: center; 
	color: #444;
	cursor: pointer;
    align-items: center;
    padding: 8px;
    margin: -5px 15px 20px 15px; 
    border: 1px solid;
	border-radius: 5px;
}
.btn-menu p {
	margin: 0;
}
.btn-menu:hover {
	background: #222;
	color: #fff;
}
a {
	color: #888;
}
a:hover {
	color: #444;
}
.active {
	text-decoration: underline;
}
.btn-selected {
	background: #222;
	color: #fff;
}
.mi-btn svg {
	margin: 8px;
}
.breadcrumb {
	margin-bottom: -15px;
}
.btn-group {
	margin-top: 15px;
	margin-bottom: -15px;
}
.busca {
	margin-top: 15px;
	margin-bottom: -15px;
}