html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  padding: 0;
}
.login-bg {
	width: 100%;
	height: 80%;
	background: linear-gradient(to top, white 50%, #ddd 50%);	
}
.login {
	position: absolute;
	width: 280px;	
	top: 25%;
	left: 0;
	right: 0;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 4px #888888
}
.container {
	margin-top: 6%;

}
.btn-menu {
	display: block;  
	width: 160px; 
	height: 130px;
	text-align: center; 
	color: #444;
	cursor: pointer;
    align-items: center;
    padding: 8px;
    margin: -5px 15px 20px 15px; 
	border-radius: 5px;
	transition: color 0.3s;
	transition: background 0.3s;
}
.btn-menu p {
	margin: 0;
}
.btn-menu:hover {
	background: #212529;
	color: #fff;
}
tr{
	transition: color 0.3s;
	transition: background 0.3s;
}
tr:hover:not(#tr-head) {
	background: #212529;
	color: #fff;
}
a {
	color: #888;
	transition: color 0.5s;
}
a:hover:not(.icone) {
	color: #444;
}
.active {
	text-decoration: underline;
}
.btn-selected {
	background: #222;
	color: #fff;
}
.mi-btn svg {
	margin: 8px;
}
.breadcrumb {
	margin-bottom: -15px;
}
.btn-group {
	margin-top: 15px;
	margin-bottom: -25px;
}
.busca {
	display: flex;
    justify-content:space-between; 
	margin-top: 10px;
	margin-bottom: -10px;
}
.titulo {
	margin-bottom: 5px;
	color: #888;
}
footer {
	position: fixed;
	bottom: 0;
}
.navbar {
	box-shadow: 0px 4px #888888;
}
.fix-btn-group {
	position: relative;
	line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.view:hover {
	color: green;
}
.edit:hover {
	color: yellow;
}
.del:hover {
	color: red;
}
.sair {
	font-weight: bold;
	transition: color 0.5s;
}
.sair:hover {
	color: red;
}
.dropdown-item {
	text-align: left;
}
.lista-itens {
	width: 80%;
}
